<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet"href="/boardadd.css">
    
    <title>Document</title>
</head>
<body>
    <div class="addition-to-list">
        <div class="textarea_wrapper">
            <p>タイトル</p>
            <textarea class="title"rows="20"cols="20">
            </textarea>
            <p>内容</p>
            <textarea class="content"rows="20"cols="20">
            </textarea>
        </div>    
    </div>


</body>
</html>