*{
  margin:0;
  padding:0;
    
}

li{
    list-style:none;
}
body{
    font-family:HiraMinProN-W6;
    
}
.header{
    display:flex;
    justify-content:space-between;
    height:10%;
    background-color: black;
    color: white;
}
.header-logo{
    
}

.header-list ul{
    display:flex;
}



.header-list li{
    list-style:none;
    padding:10px 20px;
    font-size:10px;
}


.main{
    
    display:flex;
}

.index{
    
    



}
.index ul{
    

}
.index li{
    padding:10px
}   

.main-content{
    
    
}
.textarea{
    border:1px solid blue;
    outline:none;
}





.footer {
    height: 3%;
    width:100%;
    color: white;
    background-color: black;
    justify-content:space-between;
    position:absolute;
    bottom:0;
}

.footer-logo {
    font-size: 12px;
}

.footer-list {
    
}

.footer-list li {
    list-style:none;
    padding:0px 20px;
    font-size: 8px;
    
}
.footer-list ul{
     display: flex;
}
    